body {
	background-color: gray;
}
 .affix {
      top: 0;
      width: 100%;
       padding: 6px 0;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
h1 {
	margin: 0 auto;
	display: block;
	text-align: center;
	color: orange;
}

h3{
	text-align: center;
}
.drinks {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style-type: none;
}
header,
nav{
	background: #fff;
}
nav ul{
	text-align: center;
}
nav ul li {
	display: inline;
	font-size: 20px;
	text-decoration: none;
}
li a {
	color: orange;
	display: inline;
	text-decoration: none;
}

.menu {
	width: 50%;
	margin: 20px auto;
	border: 2px solid orange;
	padding: 10px;
}
.menu h2 {
	background: orange;
	text-align: center;
	color: #fff;
	margin-top: 0;
}
.description {
	width: 75%;
	margin: auto;
	padding-bottom: 25px;
}

.drinks li {
	color: #20771f;
	font-weight: bold;
}
li p {
	display: inline-block;
	font-size: 10px;
}
.logo {
	    border: 2px solid orange;
    width: 75px;
    height: 75px;
    margin: 10px auto;
	display: block;
	border-radius: 50%;
}

.display {
	width: 70%;
	margin: 0 auto;
	display: block;
}
@media screen and (max-width:768px){
	.menu{
		width: 100%;
	}
}
