body {
	background-color: gray;
}
header{
	    width: 204px;
    margin: 0 auto;
}
.affix {
	top: 0;
	width: 100%;
	padding: 6px 0;
}

.affix + .container-fluid {
	padding-top: 70px;
}
h1 {
	margin: 0 auto;
	display: block;
	text-align: center;
	color: orange;
	font-family: 'impact', sans-serif;
}
.about, h3 {
	text-align: center;
}

h2, h3, h4, li, p {
	font-family: 'montserrat', sans-serif;
}

.drinks {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
	list-style-type: none;
	padding: 0;
	padding-bottom:20px;
	    width: 87%;
	margin: 0 auto;
}
button.navbar-toggle {
	background: orangered;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.glyphicon {
	color: #fff;
}
header {
	font-family: 'impact', sans-serif;
}
header, nav {
	background: #fff;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline;
	font-size: 20px;
	font-family: 'montserrat', sans-serif;
}

li a {
	color: orange;
	display: inline;
	text-decoration: none;
}
.about, .active a {
	color: green;
}
.hour {
	text-align: center;
	font-size: 16px;
	padding-bottom: 20px;
}
.board {
	box-shadow: 5px 5px 10px #ccff6;
}
.menu {
	float: left;
	 width: 48%;
    margin: .5% 7px;
	border: 2px solid orange;
	padding: 10px;
}
.menu:first-child {
    height: 705px;
}
.menu h2 {
	background: orange;
	text-align: center;
	color: #fff;
	margin-top: 0;
	font-family: 'montserrat', sans-serif;
}
.description {
	width: 75%;
	margin: auto;
	padding-bottom: 25px;
	text-align: center;
}

.drinks li {
	color: #20771f;
	font-weight: bold;
	padding: 5px 0;
}
li p {
	display: inline-block;
	font-size: 10px;
}
.logo {
	border: 2px solid orange;
	width: 75px;
	height: 75px;
	margin: 10px auto;
	display: block;
	border-radius: 50%;
}

.display {
	position: relative;
	width: 80%;
	margin: 46px auto;
	display: block;
}
.abtimg {
	width: 43%;
	float: right;
	margin: 0 auto;
}
.summary {
	padding: 10px 40px;
	width: 380px;
	line-height: 34px;
}
.caption {
	top: 45%;
	left: 0;
	width: 100%;
}
.abtmessage, .message {
	display: block;
	width: 65%;
	margin: 0 auto;
}
.title {
	text-align: center;
	font-size: 16px;
	width: 300px;
	background: #581175;
	color: #fff;
	font-family: 'impact', sans-serif;
	opacity: 0.8;
	padding: 15px;
	line-height: 30px;
	margin-left: 5%;
}
.phone {
	font-weight: bold;
}
.contact {
	float: right;
}
@media screen and (max-width: 450px) {
	.title {
		width: 100%;
		margin: 0 auto;
	}
	.contact{
		float:none;
	}
}
@media screen and (max-width: 768px) {
	h3 span {
    display: block;
}
	.menu {
		width: 100%;
	}
	.menu:first-child {
    height: auto;
}
	.logo {
		width: 50px;
		height: 50px;
	}
	.display {
		width: 100%;
		margin-top: 0;
	}
	.drinks {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	width: 80%;
	text-align: center;
	}
	.abtmessage {
		width: 100%;
	}
	.message {
		width: 90%;
		margin-left: 0;
	}
	.summary {
		width: 100%;
		padding: 10px 4px
	}
	.title {
		padding: 5px 50px;
	}
	.abtimg {
		width: 51%;
		margin-left: 18px;
		margin-top: 22px;
	}
	.navbar {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 768px) {

	.center {
		margin: 0 auto;
		width: 378px;
	}
	.navbar-nav {
		width: 100%;
		text-align: center;> li {
		float: none;
		display: inline-block;
	}
}

}
@media screen and (min-width:900px){
	.menu:first-child {
    height: 639px;
    }
    .menu{
    	    width: 48%;
    margin: 1% 8px;
    }
}
@media screen and (min-width: 1150px){
.menu:first-child {
    height: 610px;
}
.menu{
	    width: 49%;
    margin: 1% 5px;
}
}
.hours {
	float: right;
	border: 2px solid gainsboro;
	width: 300px;
	padding: 25px;
	font-weight: bold;
}
.hours ul {
	padding: 0;
	text-indent: 20px;
}
.hours ul li {
	list-style-type: none;
}
footer {
	bottom: 0;
	color: #bfbbb1;
	font-size: 20px;
	width: 100%;
	float: right;
	padding-top: 20px;
	background: #5d425f;
	margin-top: 35px;
}

footer p {
	text-align: center;
	padding: 25px;
}
footer p a {
	color: #fff;
}
.fa {
	color: orange;
	font-size: 20px;
}
.navbar-nav > li :hover, .nav > li > a:focus {
	color: darkorange;
	background-color: purple;
}

